name: Docker Image Push on Tag

on:
  push:
    tags:
      - 'v*'

jobs:
  docker:
    uses: kenshin579/actions/.github/workflows/docker-publish.yml@main
    with:
      image_name: echo-server
      platforms: linux/amd64,linux/arm64
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
